    // Mixin font-size and color
    @mixin set-font ($size, $color, $transform:uppercase, $weight:400, $family: 'ProximaNova-Regular') {
        font-size: $size;
        color: $color;
        font-weight: $weight;
        font-family: $family, 'Arial', 'Helvetica', sans-serif;
        text-transform: $transform;
    }
    
    @mixin set-border( $width, $color, $radius, $style:solid) {
        border-width: $width;
        border-color: $color;
        border-radius: $radius;
        border-style: $style;
    }
    
    @mixin set-buttonstate( $color, $background, $t-decorate:none, $outline:none) {
        color: $color;
        background: $background;
        outline: $outline;
        text-decoration: $t-decorate
    }
    
    @mixin set-mq ($breakpoint) {
        @if map-has-key($set-breakpoint, $breakpoint) {
            @media screen and (min-width: map-get($set-breakpoint, $breakpoint)) {
                @content;
            }
        }
        @else {
            @media screen and (min-width: $breakpoint) {
                @content;
            }
        }
    }