.questions__body {
    background-image: url(https://statictc.oss-cn-hangzhou.aliyuncs.com/binance_cloud/static/homepage/bg1.jpg);
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.questions__title {
    font-size: 20px;
    color: $primary;
    margin: 0;
}

.questions__description {
    font-size: 15px;
    color: $white;
    padding: 5px 0;
    margin: 0;
}