    .header__logo {
        width: 120px;
        height: 24px;
    }
    
    .header__navlink {
        @include set-font(1.5rem, $gray-200, none);
        line-height: 1.5;
        padding: .5rem;
        margin: .5rem;
        &:hover {
            color: $primary;
        }
        &--signin {
            @extend .header__navlink;
            @include set-border(1px, $secondary, 4px);
            color: $secondary;
            background-color: $primary;
            padding: 8px 16px;
            &:hover {
                @include set-border(1px, $primary, 4px);
                background-color: $secondary;
            }
        }
        &--login {
            @extend .header__navlink;
            @include set-border(1px, $secondary, 4px);
            color: $primary;
            padding: 8px 16px;
            &:hover {
                @include set-border(1px, $primary, 4px);
                background-color: $secondary;
            }
        }
    }