.hero {
    @include set-mq(xsmall) {
        height: calc(100vh - 90px);
    }
    @include set-mq(small) {
        height: 100vh;
    }
    background-position: center;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
    &--mep {
        background-image: url(/assets/img/mep.png), url(/assets/img/mep.svg);
    }
    &--oficial {
        background-image: url(/assets/img/oficial.png), url(/assets/img/oficial.svg);
    }
}

.hero__title {
    @include set-font(3.2rem, $primary);
    @include set-mq(small) {
        @include set-font (3.8rem, $primary);
    }
    @include set-mq(large) {
        @include set-font (5.4rem, $primary);
    }
    @include set-mq(xxlarge) {
        @include set-font (6.2rem, $primary);
    }
}

.hero__description {
    @include set-font(xs, $white);
    @include set-mq(small) {
        @include set-font (lg, $white);
    }
    @include set-mq(xxlarge) {
        @include set-font (xxl, $white);
    }
}

.hero__subtitle {
    @include set-font(md, $primary, uppercase, 600);
    @include set-mq(medium) {
        @include set-font (xl, $primary, uppercase, 600);
    }
    @include set-mq(xxlarge) {
        @include set-font (3.2rem, $primary, uppercase, 600);
    }
}

.hero__price {
    @include set-font(md, $white);
    @include set-mq(medium) {
        @include set-font (xl, $white);
    }
    @include set-mq(xxlarge) {
        @include set-font (3.0rem, $white);
    }
}

.hero__tax {
    @include set-font(1.2rem, $white, none);
    @include set-mq(small) {
        @include set-font (xs, $white, none);
    }
    @include set-mq(xxlarge) {
        @include set-font (lg, $white, none);
    }
}

.hero__divider {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.fa-chevron-down {
    font-size: 6.5rem;
    color: $primary;
    opacity: .8;
    margin: 0;
    transition: all .5s;
    outline: none;
    &:hover,
    &:focus,
    &:active {
        color: $primary-light;
    }
    @include set-mq(xxlarge) {
        font-size: 9rem;
    }
}