@keyframes slideInUpSm {
    from {
        transform: translate3d(0, 75px, 0);
        visibility: hidden;
    }
    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.slideInUpSm {
    animation-name: slideInUpSm;
    animation-duration: 1.25s;
}