.bg--video {
    z-index: -99;
}

@media (min-aspect-ratio: 16/9) {
    .bg--video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bg--video {
        width: auto;
        height: 100%;
    }
}

.bg--overlay {
    background-color: rgba(1, 1, 1, 0.6);
    z-index: -98;
    width: auto;
    height: 100vh;
}