%btn__primary {
    display: inline-block;
    text-transform: uppercase;
    background: transparent;
    text-decoration: none;
    text-transform: none;
    height: 40px;
    width: 100%;
    max-width: 250px;
    padding: 20px;
    border: 1.7px solid $primary;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    outline: none;
    @include set-font(1.4rem, $primary);
}

.btn__primary {
    @extend %btn__primary;
    &:hover,
    &:focus,
    &:active {
        @include set-border($gray-1000 !important, 2rem);
        @include set-buttonstate($gray-1000, $primary!important);
        box-shadow: 0 0 0 0.2rem rgba(240, 185, 11, .5);
    }
    &--solid {
        @extend %btn__primary;
        @include set-font(1.4rem, $gray-1000);
        @include set-border(transparent, 1rem);
        padding: 4px 8px;
        background-color: $primary;
        &:hover,
        &:focus,
        &:active {
            @include set-border($primary, 2rem);
            @include set-buttonstate ($primary, $primary-light);
        }
    }
}

.btn__secondary {
    @extend %btn__primary;
    background-color: $gray-1000;
    &:hover,
    &:focus,
    &:active {
        @include set-border($gray-1000, 2rem);
        @include set-buttonstate($gray-1000, transparent);
        box-shadow: 0 0 0 0.2rem rgba(18, 22, 18, .25);
    }
}

%btn__light {
    @include set-font(1.6rem, $primary, 500);
    transition: all .5s;
}

.btn__light {
    @extend %btn__light;
    &:hover,
    &:focus,
    &:active {
        @include set-buttonstate($primary-light, underline);
    }
    &--small {
        @extend %btn__light;
        font-size: 1.4rem;
        &:hover,
        &:focus,
        &:active {
            @include set-buttonstate($primary, $primary-light);
        }
    }
}