@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../assets/webfonts/ProximaNovaAlt-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../assets/webfonts/ProximaNovaAlt-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../assets/webfonts/ProximaNovaAlt-Light.ttf') format('truetype');
    font-display: swap;
}