.card {
    background-color: $gray-800;
    border-radius: .5rem;
}

.card-header {
    background-color: $gray-900;
    padding: 0;
    cursor: pointer;
    &:hover {
        background-color: $gray-1000;
    }
}

.card__title {
    @include set-font(xs, $primary);
    padding: 1rem 0.5rem 1rem 1.5rem;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    &:hover,
    &:focus,
    &:visited {
        @include set-pseudo($primary, transparent);
    }
    &[aria-expanded='false'] i {
        transform: rotate(180deg);
    }
}

.card-body p {
    @include set-font(xs, $gray-400, none);
    line-height: 155%;
    margin: .7rem 1rem;
}