.carousel:hover {
    border-radius: 1rem;
    box-shadow: 0px 1px 5px 0px rgba(250, 185, 11, .5);
}

.options__card {
    height: 425px;
    border-radius: 1rem;
    border: none;
    background-position: center;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
    @include set-mq (xxlarge) {
        height: 600px;
    }
    &--mep {
        background-image: url(../../assets/img/mep.png);
    }
    &--oficial {
        background-image: url(../../assets/img/oficial.png);
    }
}

.options__title {
    @include set-font(xs, $primary);
    @include set-mq(small) {
        @include set-font (lg, $primary);
    }
    @include set-mq(medium) {
        @include set-font (xxl, $primary);
    }
    @include set-mq(xxlarge) {
        @include set-font (3.4rem, $primary);
    }
}

.options__description {
    @include set-font(sm, $white);
    @include set-mq(small) {
        @include set-font (md, $white);
    }
    @include set-mq(xxlarge) {
        @include set-font (xxl, $white);
    }
}

.options__subtitle {
    @include set-font(sm, $primary);
    @include set-mq(medium) {
        @include set-font (lg, $primary);
    }
    @include set-mq(xxlarge) {
        @include set-font (30px, $primary);
    }
}

.options__price {
    @include set-font(sm, $white);
    @include set-mq(medium) {
        @include set-font (lg, $white);
    }
    @include set-mq(xxlarge) {
        @include set-font (2.8rem, $white);
    }
}

.options__tax {
    @include set-font(1.2rem, $white, none);
    @include set-mq(small) {
        @include set-font (xs, $white, none);
    }
    @include set-mq(xxlarge) {
        @include set-font (lg, $white, none);
    }
}

.options__divider {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.help {
    // border-radius: 1rem;
    &__container {
        min-width: 25rem;
    }
    &__title {
        @include set-font(lg, $primary)
    }
    &__description {
        @include set-font(xs, $gray-400, none);
        @include set-mq(xxlarge) {
            @include set-font(md, $gray-400);
        }
    }
}

.funnel {
    .row {
        background-image: url(/assets/img/involved.png), url(/assets/img/involved.svg);
        background-size: cover;
        background-position: center;
        color: $white;
    }
    &__title {
        @include set-font(xl, $gray-100);
    }
    &__description {
        @include set-font(lg, $gray-1000, none)
    }
}